<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gouyan.system.mapper.SysCinemaMapper">

    <!--column属性：如果没有别名就必须跟字段名一样，有别名就可以跟别名一样，通过别名映射到字段-->
    <resultMap id="SysCinemaResult" type="SysCinema">
        <id property="cinemaId" column="cinema_id"></id>
        <result property="cinemaName" column="cinema_name"></result>
        <result property="cinemaBrand" column="cinema_brand"></result>
        <result property="cinemaPicture" column="cinema_picture"></result>
        <result property="isTicketChanged" column="is_ticket_changed"></result>
        <result property="isRefunded" column="is_refunded"></result>
        <result property="cinemaAreaId" column="cinema_area_id"></result>
        <result property="cinemaAddress" column="cinema_address"></result>
        <result property="userId" column="user_id"></result>
        <result property="entryDate" column="entry_date"></result>
        <association property="user" column="user_id" select="com.gouyan.system.mapper.SysUserMapper.findById"></association>
    </resultMap>

    <!--带条件查询的findAll-->
    <select id="findAll" resultMap="SysCinemaResult" parameterType="SysCinema">
        select * from sys_cinema
        <where>
            <if test="cinemaName != null and cinemaName != ''"> and cinema_name like concat('%', #{cinemaName}, '%') </if>
            <if test="cinemaBrand != null and cinemaBrand != ''"> and cinema_brand like concat('%', #{cinemaBrand}, '%') </if>
            <if test="cinemaAddress != null and cinemaAddress != ''"> and cinema_address like concat ('%', #{cinemaAddress}, '%') </if>
            <if test="cinemaAreaId != null and cinemaAreaId != ''"> and cinema_area_id = #{cinemaAreaId} </if>
        </where>
    </select>

    <select id="findById" parameterType="Long" resultMap="SysCinemaResult">
        select * from sys_cinema where cinema_id = #{cinemaId}
    </select>

    <update id="add" parameterType="SysCinema">
        <!-- 将添加后的主键id传回原对象 -->
        <selectKey keyProperty="cinemaAreaId" keyColumn="cinema_area_id" resultType="long" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into sys_cinema (cinema_name, cinema_brand, cinema_picture, is_ticket_changed, is_refunded, cinema_area_id, cinema_address, user_id, entry_date)
        values (#{cinemaName}, #{cinemaBrand}, #{cinemaPicture}, #{isTicketChanged}, #{isRefunded}, #{cinemaAreaId}, #{cinemaAddress}, #{userId}, #{entryDate})
    </update>

    <update id="update" parameterType="SysCinema">
        update sys_cinema set
        cinema_name = #{cinemaName}, cinema_brand = #{cinemaBrand}, cinema_picture = #{cinemaPicture}, is_ticket_changed = #{isTicketChanged},
        is_refunded = #{isRefunded}, cinema_area_id = #{cinemaAreaId}, cinema_address = #{cinemaAddress}, user_id = #{userId}, entry_date = #{entryDate}
        where cinema_id = #{cinemaId}
    </update>

    <update id="delete" parameterType="Long">
        delete from sys_cinema where cinema_id = #{id}
    </update>

</mapper>