<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gouyan.system.mapper.SysRoleMapper">

    <select id="findAll" resultType="SysRole">
        select * from sys_role
    </select>

    <select id="findById" resultType="SysRole" parameterType="long">
        select * from sys_role where role_id = #{id}
    </select>

    <update id="add" parameterType="SysRole">
        insert into sys_role(role_name, role_desc) values(#{roleName}, #{roleDesc})
    </update>

    <update id="update" parameterType="SysRole">
        update sys_role set role_name = #{roleName}, role_desc = #{roleDesc} where role_id = #{roleId}
    </update>

    <update id="delete" parameterType="Long">
        delete from sys_role where role_id = #{id}
    </update>
</mapper>